{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  {% include 'create/head.html' %}
</head>
<body>
  
  <!-- create_modal  -->
  {% include 'create/create_modal.html' %}
  <!-- /create_modal -->

  <!-- edit_modal -->
  {% include 'create/edit_modal.html' %}
  <!-- /edit_modal -->

  <!-- body_wrap -->
  <div class="body">
    
    <!-- sidebar -->
    {% include 'create/sidebar.html' %}
    <!-- /sidebar -->

    <!-- main-contents -->
    <div class="body__main">
      <!-- main-menu -->
      <div class="body__main body__main-service">
        <p class="body__main__service-title">ログイン</p>
        <p class="body__main__service-text">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% if form.errors %}
            <div class="form__account-error">
              {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form__account">
              <label for="id_login" class="form__account-label">{{ form.login.label }}</label>
              <p class="form__account-input">{{ form.login }}</p>
            </div>
            <div class="form__account">
              <label for="id_password" class="form__account-label">{{ form.password.label }}</label>
              <p class="form__account-input">{{ form.password }}</p>
            </div>
            <label>ログインしたままにする {{ form.remember }}</label>
            <div class="form__account-submit">
              <button class="primaryAction" type="submit">ログイン</button>
            </div>
            <p class="form__account-hasaccount">
              <a href="{% url 'account_signup' %}">アカウントをお持ちでない方</a>
            </p>
          </form>
        </p>
      </div>
      <!-- /main-menu -->

    </div>
    <!-- /main-contents -->

  </div>
  <!-- /body-wrap -->

</body>
</html>