{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  {% include 'create/head.html' %}
</head>
<body>
  
  <!-- create_modal  -->
  {% include 'create/create_modal.html' %}
  <!-- /create_modal -->

  <!-- edit_modal -->
  {% include 'create/edit_modal.html' %}
  <!-- /edit_modal -->

  <!-- body_wrap -->
  <div class="body">
    
    <!-- sidebar -->
    {% include 'create/sidebar.html' %}
    <!-- /sidebar -->

    <!-- main-contents -->
    <div class="body__main">
      <!-- main-menu -->
      <div class="body__main-menu">
        <h2 class="body__main-menu-title">{{title}}</h2>
        <div class="body__main-menu-btn-wrap">
          <p class="btn body__main-menu-btn" id="btn-create">入力画面はこちら</p>
          <p class="btn btn--edit body__main-menu-btn-edit" id="btn-edit">編集画面はこちら</p>
        </div>
      </div>
      <!-- /main-menu -->

      <!-- time-table -->
      <table class="body__main-table">
        <thead>
          <tr>
            <th></th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '1' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '1' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '1' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '1' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '1' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '1' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
          <tr>
            <th>2</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '2' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '2' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '2' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '2' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '2' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '2' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
          <tr>
            <th>3</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '3' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '3' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '3' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '3' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '3' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '3' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
          <tr>
            <th>4</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '4' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '4' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '4' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '4' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '4' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '4' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
          <tr>
            <th>5</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '5' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '5' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '5' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '5' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '5' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '5' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
          <tr>
            <th>6</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '6' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '6' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '6' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '6' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '6' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '6' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
          <tr>
            <th>7</th>
            <td>{% for item in data %} {% if item.week == '1' and item.period == '7' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '2' and item.period == '7' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '3' and item.period == '7' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '4' and item.period == '7' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '5' and item.period == '7' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
            <td>{% for item in data %} {% if item.week == '6' and item.period == '7' %}<p>{{item.name}}</p> <p>{{item.teacher}}</p><p class="body__main-table__room">{{item.room}}</p>{% endif %}{% endfor %}</td>
          </tr>
        </tbody>
      </table>
      <!-- /time-table -->

    </div>
    <!-- /main-contents -->

  </div>
  <!-- /body-wrap -->

</body>
</html>