{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  {% include 'create/head.html' %}
</head>
<body>

  <!-- edit_modal -->
  {% include 'create/edit_modal.html' %}
  <!-- /edit_modal -->

  <!-- start body-wrap -->
  <div class="body">
    
    <!-- start sidebar -->
    <div class="body__sidebar">
        <div class="body__sidebar-logo">
          <a href="{% url 'index' %}"><img class="body__sidebar-logo-img" src="{% static 'img/logo.svg' %}" alt=""></a>
        </div>
        {% comment %} <a class="btn btn--disabled body__sidebar-btn-create " href="{% url 'index' %}">作成ページ</a> {% endcomment %}
        <div class="body__sidebar-time">
          <div class="body__sidebar-date">
            <span id="year">{% now "Y" %}</span><br><span id="month">{% now "m" %}</span><span id="space">/</span><span id="date">{% now "d" %}</span><span id="day">{% now "l" %}</span>
          </div>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- start main-contents -->
    <div class="body__main">
      <!-- start main-menu -->
      <div class="body__main-menu">
        <h2 class="body__main-menu-title">{{title}}</h2>
        <div class="body__main-menu-btn-wrap">
          <p class="btn btn--edit body__main-menu-btn-edit" id="btn-edit" href="">編集する</p>
        </div>
      </div>
      <!-- end main-menu -->

      <!-- start edit-block -->
      <div class="body__main-edit">
        <div class=" modal__contents-type--delete">
            <form action="" method="post" class="form form--type-create">
              {% csrf_token %}
              <p class="form__contents-top-title">以下の項目を削除します</p>
              <div class="form__contents-item-wrap">
                <div class="form__contents-item form__contents-item-title">曜日</div>
                <div class="form__contents-item">
                  {{obj.get_week_display}}
                </div>
              </div>
              <div class="form__contents-item-wrap">
                <div class="form__contents-item form__contents-item-title">時限</div>
                <div class="form__contents-item">{{obj.get_period_display}}</div>
              </div>
              <div class="form__contents-item-wrap">
                <div class="form__contents-item form__contents-item-title">講義</div>
                <div class="form__contents-item">{{obj.name}}</div>
              </div>
              <div class="form__contents-item-wrap">
                <div class="form__contents-item form__contents-item-title">担当教員</div>
                <div class="form__contents-item">{{obj.teacher}}</div>
              </div>
              <div class="form__contents-item-wrap">
                <div class="form__contents-item form__contents-item-title">教室</div>
                <div class="form__contents-item">{{obj.room}}</div>
              </div>
              <p class="form__contents-detail-title">※この操作は取り消せません</p>
              <div class="form__contents form__contents--delete-btn">
                <input class="btn btn--edit" type="submit" value="削除する">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end edit-block -->
    </div>
    <!-- end main-contents -->

  </div>
  <!-- end body-wrap -->

</body>
</html>