{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  {% include 'create/head.html' %}
</head>
<body>


  <!-- edit_modal -->
  {% include 'create/edit_modal.html' %}
  <!-- /edit_modal -->


  <!-- start body-wrap -->
  <div class="body">
    
    <!-- start sidebar -->
    <div class="body__sidebar">
        <div class="body__sidebar-logo">
          <a href="{% url 'index' %}"><img class="body__sidebar-logo-img" src="{% static 'img/logo.svg' %}" alt=""></a>
        </div>
        {% comment %} <a class="btn btn--disabled body__sidebar-btn-create " href="{% url 'index' %}">作成ページ</a> {% endcomment %}
        <div class="body__sidebar-time">
          <div class="body__sidebar-date">
            <span id="year">{% now "Y" %}</span><br><span id="month">{% now "m" %}</span><span id="space">/</span><span id="date">{% now "d" %}</span><span id="day">{% now "l" %}</span>
          </div>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- start main-contents -->
    <div class="body__main">
      <!-- start main-menu -->
      <div class="body__main-menu">
        <h2 class="body__main-menu-title">{{title}}</h2>
        <div class="body__main-menu-btn-wrap">
          <p class="btn btn--edit body__main-menu-btn-edit" id="btn-edit" href="">編集する</p>
        </div>
      </div>
      <!-- end main-menu -->

      <!-- start edit-block -->
      <div class="body__main-edit">
        <div class=" modal__contents-type--delete">
            <form action="" method="post" class="form form--type-create" autocomplete="off">
              {% csrf_token %}
              <p class="form__contents-title">曜日</p>
              <div class="form__contents form__contents-type--select">
                {% for radio in form.week %}
                  {{ radio.tag }}
                  <label class="form__label form__label--week" for="id_week_{{ forloop.counter0 }}">{{ radio.choice_label}}</label>
                {% endfor %}
              </div>
              <p class="form__contents-title">時限</p>
              <div class="form__contents form__contents-type--select">
                {% for radio in form.period %}
                  {{ radio.tag }}
                  <label class="form__label form__label--period" for="id_period_{{ forloop.counter0 }}">{{ radio.choice_label}}</label>
                {% endfor %}
              </div>
              <div class="form__contents form__contents-type--input-text">
                <label class="form__contents-title" for="id_name">講義</label>
                {{form.name}}
              </div>
              <div class="form__contents form__contents-type--input-text">
                <label class="form__contents-title" for="id_teacher">担当教員</label>
                {{form.teacher}}
              </div>
              <div class="form__contents form__contents-type--input-text">
                <label class="form__contents-title" for="id_room">講義</label>
                {{form.room}}
              </div>
              <div class="form__contents form__contents--delete-btn">
                <input class="btn form__btn" type="submit" value="更新する">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end edit-block -->
    </div>
    <!-- end main-contents -->

  </div>
  <!-- end body-wrap -->

</body>
</html>