{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>時間割 for Student</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="{% static 'create/img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'create/css/syle.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'create/js/modal-create.js' %}"></script>
  <script src="{% static 'create/js/modal-edit.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- start modal-edit -->
  <div class="modal">
    <div class="modal__bg">
    </div>
    <div class="modal__contents modal__contents-type--edit">
      <ul class="modal__contents-menu">
        <li class="modal__contents-menu-title modal__contents--week">曜日</li>
        <li class="modal__contents-menu-title modal__contents--period">時限</li>
        <li class="modal__contents-menu-title modal__contents--name">講義</li>
        <li class="modal__contents-menu-title modal__contents--teacher">担当教員</li>
        <li class="modal__contents-menu-title modal__contents--room">教室</li>
        <li class="modal__contents-menu-title modal__contents--action">アクション</li>
      </ul>
      {% for item in data %}
      <ul class="modal__contents-item">
        <li class="modal__contents--week">{{item.get_week_display}}</li>
        <li class="modal__contents--period">{{item.get_period_display}}</li>
        <li class="modal__contents--name">{{item.name}}</li>
        <li class="modal__contents--teacher">{{item.teacher}}</li>
        <li class="modal__contents--room">{{item.room}}</li>
        <li class="modal__contents--action btn-modal-wrap"><a class="btn btn-modal" href="{% url 'edit' item.id %}">更新ページ</a><a class="btn btn--edit btn-modal" href="{% url 'delete' item.id %}">削除ページ</a></li>
      </ul>
      {% endfor %}
      <div class="modal__contents-type--edit-btn">
        <p class="btn btn--disabled" id="btn-close">閉じる</p>
      </div>
    </div>
  </div>
  <!-- end modal-edit -->


  <!-- start body-wrap -->
  <div class="body">
    
    <!-- start sidebar -->
    <div class="body__sidebar">
        <div class="body__sidebar-logo">
          <a href=""><img class="body__sidebar-logo-img" src="{% static 'create/img/logo.png' %}" alt=""></a>
          <h1 class="body__sidebar-logo-text"><a href="{% url 'index' %}">時間割<br>for<br>Student</a></h1>
        </div>
        <a class="btn btn--disabled body__sidebar-btn-create " href="{% url 'index' %}">作成ページ</a>
        <div class="body__sidebar-time">
          <div class="body__sidebar-date">
            <span id="year">{% now "Y" %}</span><br><span id="month">{% now "m" %}</span><span id="space">/</span><span id="date">{% now "d" %}</span><span id="day">{% now "l" %}</span>
          </div>
        </div>
        <p class="body__sidebar-creator">@1nary_com</p>
    </div>
    <!-- end sidebar -->

    <!-- start main-contents -->
    <div class="body__main">
      <!-- start main-menu -->
      <div class="body__main-menu">
        <h2 class="body__main-menu-title">{{title}}</h2>
        <div class="body__main-menu-btn-wrap">
          <p class="btn btn--edit body__main-menu-btn-edit" id="btn-edit" href="">編集画面はこちら</p>
        </div>
      </div>
      <!-- end main-menu -->

      <!-- start edit-block -->
      <div class="body__main-edit">
        <div class=" modal__contents-type--delete">
            <form action="" method="post" class="form form--type-create" autocomplete="off">
              {% csrf_token %}
              <p class="form__contents-title">曜日</p>
              <div class="form__contents form__contents-type--select">
                {% for radio in form.week %}
                  {{ radio.tag }}
                  <label class="form__label form__label--week" for="id_week_{{ forloop.counter0 }}">{{ radio.choice_label}}</label>
                {% endfor %}
              </div>
              <p class="form__contents-title">時限</p>
              <div class="form__contents form__contents-type--select">
                {% for radio in form.period %}
                  {{ radio.tag }}
                  <label class="form__label form__label--period" for="id_period_{{ forloop.counter0 }}">{{ radio.choice_label}}</label>
                {% endfor %}
              </div>
              <div class="form__contents form__contents-type--input-text">
                <label class="form__contents-title" for="id_name">講義</label>
                {{form.name}}
              </div>
              <div class="form__contents form__contents-type--input-text">
                <label class="form__contents-title" for="id_teacher">担当教員</label>
                {{form.teacher}}
              </div>
              <div class="form__contents form__contents-type--input-text">
                <label class="form__contents-title" for="id_room">講義</label>
                {{form.room}}
              </div>
              <div class="form__contents form__contents--delete-btn">
                <input class="btn form__btn" type="submit" value="更新する">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end edit-block -->
    </div>
    <!-- end main-contents -->

  </div>
  <!-- end body-wrap -->

</body>
</html>