{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>timey - web履修管理</title>
<meta name="description" content="">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'css/syle.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/modal-create.js' %}"></script>
<script src="{% static 'js/modal-edit.js' %}"></script>
<!-- OGPの設定 -->
<meta property="og:type" content="website" />
<meta property="og:title" content="timey" />
<meta property="og:description" content="web履修管理アプリ" />
<meta property="og:url" content="https://timey.herokuapp.com/" />
<meta property="og:site_name" content="timey - web履修管理" />
<meta property="article:publisher" content="" />
<meta property="og:image" content="{% static 'img/twitter-card.png' %}" />
<!-- Twitterカードの設定 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">