{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>timey - web履修管理</title>
<meta name="description" content="">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/syle.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/modal-create.js' %}"></script>
<script src="{% static 'js/modal-edit.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<!-- Twitterカードの設定 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@1nary_com" />
<meta name="twitter:domain" content="timey.herokuapp.com" />
<meta name="twitter:title" content="timey" />
<meta name="twitter:description" content="web履修管理" />
<meta name="twitter:image" content="https://timey.herokuapp.com{% static 'img/twitter-card.png' %}" />
<!-- /Twitterカードの設定 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">